@charset "UTF-8";
/* mystyle05.css */

/*참조 05_다양한select.html*/
/*참조 https://www.w3schools.com/cssref/css_selectors.php */

p{  /*모든 <p>요소*/
    font-family: 궁서체;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

h2 , p{/*모든 <h2>, 모든<p>*/
    color:blue;
}

div p{/*<div>안에 있는 모든 <p>*/
    background-color: red;
}
/*부모>부모>자식*/
/*라일락 접근*/
div > span > p {
    text-decoration-line: line-through;
    text-decoration-color: yellow ;
}

/* 개나리, 해바라기, 나팔꽃*/
div h2{
    font-size: 10px;
}

/* 해바라기 접근*/
div>span>h2{
    font-size: 20px;
    color:hotpink;
}

#mybox{/*Box Model*/
    width:320px;
    padding:10px;/*내용의 안쪽여백을 상하좌우 모두 10px*/
    border:5px solid black;
    margin:auto;/*수평을 기준으로 가운데 정렬*/
}

#menu{
    width:100px;
    height:100px;
    background-color: gray;
}

.hide{ /*화면에 노출 안됨*/
    width:0;
    height:0;
    margin:0;
    padding:0;
    font-size:0;                                                                                                                                                                
}

#nav{
    width:300px;
    height:500px;
    background-color: beige;
    margin:auto;
}

#nav>ul{/*id=nav의 자식요소중애소 ul태그*/
    list-style: none;
}

#nav .news{/*id=nav안에서 모든 class=news*/
    background: olive;
    font-weight: bold;
}

#nav ul .news{
    background-color: blueviolet;
}

#nav>ol>li:nth-child(2){/*<li>요소중에서 2번째(김연아)*/
    font-weight:bold;
}

/*
   참조 https://www.w3schools.com/cssref/sel_active.asp
   a:link     - 일반적 링크 및 방문하지 않은 링크
   a:visited  - 방문했던 링크
   a:hover    - 마우스 올렸을 때 링크
   a:active   - 마우스 누르는 순간의 링크
*/
a:link{ color: black; text-decoration-line: none;}
a:visited{ color:black; text-decoration-line: none;}
a:hover{color:black; text-decoration-line: underline;}
a:active{color:black; text-decoration-line: none;}

/*아이티윌 링크만 css적용*/
#nav>ol>li>a{
    width:200px;
    height:100px;
    background-color: hotpink;
    text-decoration-line: underline;
}